.contener{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px

}
body, html {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(../imaga/gojo.jpg);
}

body, html{
    height: 100%;
    margin: 0;
    top: 0;
}
.contener .piano h1{
    font-size: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    color: snow;
}

.contener .piano h1:hover{
    transform: scale3d(1.4);
    font-size: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    color: yellowgreen
}

.contener .carre{
    background-color: white;
    width: 1350px;
    height: 300px;
    /*border: 3px solid;*/
    display: flex;
    justify-content: center;
}

.contener .carre .c1{
    width: 300px;
    height: 300px;
    border: 1px solid;
    position: relative;
}

.carre .c2{
    width: 300px;
    height: 300px;
    border: 1px solid;
    position: relative;
}
.carre .c3{
    width: 300px;
    height: 300px;
    border: 1px solid;
    position: relative ;
}

.carre .c4{
    width: 300px;
    height: 300px;
    border: 1px solid;
    position: relative;
}
.carre .c5{
    width: 300px;
    height: 300px;
    border: 1px solid;
}
.carre .c6{
    width: 300px;
    height: 300px;
    border: 1px solid;
}
.carre .c7{
    width: 300px;
    height: 300px;
    border: 1px solid;
}
.carre p{
    text-align: center;
    padding-top: 120px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
.carre p:hover{
    text-align: center;
    padding-top: 120px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: snow;
}

/*on Hover*/

.contener .carre .c1:hover{
    background-image: url(../imaga/natsu.jpg);
    background-size: 199px;
    background-position: cover;
    background-repeat: no-repeat;
    
}

.contener .carre .c2:hover{
    background-image: url(../imaga/sukuna.jpg);
    background-size: 198px;
    background-position: cover;
    background-repeat: no-repeat;
}
.contener .carre .c3:hover{
    background-image: url(../imaga/zenitsu.jpg);
    background-size: 239px;
    background-position: cover;
    background-repeat: no-repeat;
}
.contener .carre .c4:hover{
    background-image: url(../imaga/luffy.jpg);
    background-size: 200px;
    background-position: cover;
    background-repeat: no-repeat;
}
.contener .carre .c5:hover{
    background-image: url(../imaga/light1.jpg);
    background-size: 200px;
    background-position: cover;
    background-repeat: no-repeat;
}
.contener .carre .c6:hover{
    background-image: url(../imaga/ashura.jpg);
    background-size: 219px;
    background-position: cover;
    background-repeat: no-repeat;
}
.contener .carre .c7:hover{
    background-image: url(../imaga/ichigo.jpg);
    background-size: 192px;
    background-position: cover;
    background-repeat: no-repeat;
}


